<div class="week-selector">
  <div class="day-item">
    <span class="day-name">Mon</span>
    <span class="day-num">10</span>
  </div>
  <div class="day-item">
    <span class="day-name">Tue</span>
    <span class="day-num">11</span>
  </div>
  <div class="day-item active">
    <div class="active-indicator"></div>
    <span class="day-name">Wed</span>
    <span class="day-num">12</span>
  </div>
  <div class="day-item">
    <span class="day-name">Thu</span>
    <span class="day-num">13</span>
  </div>
  <div class="day-item">
    <span class="day-name">Fri</span>
    <span class="day-num">14</span>
  </div>
</div>
